<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data" action="/">
    <div>

        <table>

            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>

        </table>

    </div>
</form>
<div>
    <h2 th:text="${message}"></h2>
</div>
<div>
    <table border="1">
        <th>objectName</th>
        <th>download</th>

        <tr th:each="object : ${objectNames}">
            <td th:text="${object}"></td>
<!--                <td><button onclick='location.href="/download[[${object}]]"' th:attr data-object="${object}">download</button></td>-->
            <td><button th:data-o="${object}" onclick="location.href='/'+this.getAttribute('data-o')">download</button></td>
        </tr>
    </table>
</div>
</body>
</html>